<mat-toolbar color="primary" class="main-header d-flex flex-md-row justify-content-around px-md-4 bg-white border-bottom shadow-sm">
    <div class="branding-logo my-0 mr-md-auto font-weight-normal">
     <img src="assets/images/logo.png" alt="logo">
     <span class="tagline">Travel & Expense Management</span>
    </div>
   <nav class="my-2 my-md-0 mr-md-3"> 
     <button mat-button routerLink="/managetravel/dashboard">Home</button>
    <!-- <button mat-button routerLink="/createTrip">Create Trip</button>
    <button mat-button routerLink="/tripList">TripList</button> -->
    <button mat-button routerLink="/managetravel/approveTrip">Approve Trip</button> 
    <button mat-button (click)="logout()">Logout</button>
    </nav>
    <div class="prof-thumb">
      <img src="assets/images/hotel.jpg" alt="profile image">
    </div>

</mat-toolbar>
<router-outlet></router-outlet>
