<mat-toolbar color="primary" class="main-header d-flex flex-md-row justify-content-around px-md-4 bg-white border-bottom shadow-sm">
    <div class="branding-logo my-0 mr-md-auto font-weight-normal">
     <img src="assets/images/logo.png" alt="logo">
     <span class="tagline">Travel & Expense Management</span>
    </div>

   <!-- <div> 
    <div class="prof-thumb" [ngbPopover]="popContent" style="cursor: pointer;">
      <img src="assets/images/hotel.jpg" alt="profile image">
    </div>
    <span class="tagline">{{userFisrtname}} <i class="fa fa-angle-down"></i></span>
   </div> -->

   
   <nav class="my-2 my-md-0 mr-md-3"> 
     <!-- <button mat-button [ngbPopover]="popContent">{{userFisrtname}} <i class="fa fa-angle-down"></i></button> -->
     <button mat-button routerLink="/managetravel/dashboard">Home</button>
    <!-- <button mat-button routerLink="/createTrip">Create Trip</button>
    <button mat-button routerLink="/tripList">TripList</button> -->
    <button mat-button routerLink="/managetravel/approveTrip">Approve Trip</button> 
    <button mat-button routerLink="/managetravel/expenseClaim">Expense Claim</button>
    <button mat-button routerLink="/managetravel/approveExpense">Approve Expense</button>
    <button mat-button routerLink="/managetravel/approveAdvance">ApproveAdvanceComponent</button>
    
     
    <button mat-button (click)="logout()">Logout</button>
    </nav>
    <div class="row profileDiv"  [ngbPopover]="popContent" >
      <div class="col-xs-6">
        <div class="prof-thumb">
          <img src="assets/images/profile.png" class="headerProfilePic" alt="profile image">
        </div>
      </div>
      <div class="col-xs-6 headerUserName">
        {{userFisrtname}} <i class="fa fa-angle-down"></i>
      </div>
  </div>
</mat-toolbar>


<ng-template #popContent>
 <div class="container"> 
  
  <div class="row">    
    <div class="col-12 col-md-12">
                <div class="row popOverProfile">
                  <div class="col-lg-6 col-sm-12 popoverprofilepicdiv">
                    <div>
                      <img src="assets/images/profile.png" class="popoverprofilepic" alt="profile image">
                    </div>
                  </div>
                  <br>
                  <div class=" col-lg-6 col-sm-12 popverusernamediv">
                    <div class="form-group">
                      <i class="icon-sprite cus-icon-user"></i>
                      {{userFisrtname}} {{userLastname}}
                      <button class="btn btn-primary radius-full btn-xs">254888A </button>
                    </div>
                  </div>
               </div> 
               
              <div class="row otherDetDiv">
                <div class=" col-lg-6 col-sm-12">
                  <div class="form-group">
                    <i class="icon-sprite cus-icon-org"></i><label for="fromlocation">Organization</label> 
                  </div>
                </div>
        
                <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
                  <div class="form-group">
                      <b>ABPL</b>
                  </div>
                </div>
             </div> 

             <div class="row otherDetDiv">
              <div class=" col-lg-6 col-sm-12">
                <div class="form-group">
                  <i class="icon-sprite cus-icon-emp-cat"></i> <label for="fromlocation">Employee Category Group</label> 
                </div>
              </div>
      
              <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
                <div class="form-group">
                    <b></b>
                </div>
              </div>
           </div>
         <div class="row otherDetDiv">
          <div class=" col-lg-6 col-sm-12">
            <div class="form-group">
              <i class="icon-sprite cus-icon-birth"></i><label for="fromlocation">Date Of Birth</label> 
            </div>
          </div>
  
          <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
            <div class="form-group">
                <b></b>
            </div>
          </div>
       </div>
       
       <div class="row otherDetDiv">
        <div class=" col-lg-6 col-sm-12">
          <div class="form-group">
            <i class="icon-sprite cus-icon-gender"></i> <label for="fromlocation">Gender</label> 
          </div>
        </div>

        <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
          <div class="form-group">
              <b></b>
          </div>
        </div>
     </div>
     
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-dept"></i><label for="fromlocation">Department</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>

   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-desig"></i><label for="fromlocation">Designation</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>

     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-location"></i><label for="fromlocation">Work Location</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-emp-group"></i> <label for="fromlocation">Employee Group</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-fir-approval"></i><label for="fromlocation">First Level Approver</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-sec-approval"></i> <label for="fromlocation">Second Level Approver</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-finance-approval"></i><label for="fromlocation">Finance Approver</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-policy-approval"></i> <label for="fromlocation">Out of Policy Approver</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-imm-manager"></i><label for="fromlocation">Immediate Manager</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>
   
     <div class="row otherDetDiv">
      <div class=" col-lg-6 col-sm-12">
        <div class="form-group">
          <i class="icon-sprite cus-icon-master-cost"></i> <label for="fromlocation">Master Cost Center</label> 
        </div>
      </div>

      <div class=" col-lg-6 col-sm-12 otherDetSecondDiv">
        <div class="form-group">
            <b></b>
        </div>
      </div>
   </div>


   

      

            
            
            
            
           
           
          



          </div>
      </div> 
   </div>

</ng-template>
<ng-template #popTitle>Fancy </ng-template>
<router-outlet></router-outlet>

