<div class="cover-shape">
    <div class="container">
        <div class="breadcrumb-cus">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="#">Advance</a></li>                 
                </ol>
              </nav>
        </div>
         
     <div class="container-bg">
     <div class="preview">       
        <div class="d-md-flex justify-content-lg-between">
         <div class=""><h1><i></i>Approve Advance</h1></div> 
        </div>
      <section class="mb-4 mt-5">
        <div class="trip-info">             
          <div class="row trip-info-details">                 
                <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                 <div class="row">
                 <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                    <label>Amount</label>
                 </div>
                 <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                    <div class="t-val"><i class="fa fa-rupee mr-2"></i>500</div>   
                 </div> 
                </div>          
                </div>                 
                  <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                           <label>Trip</label>
                        </div>
                        <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                           <div class="t-val">#0005</div>   
                        </div> 
                     </div> 
                                
                  </div>
                  <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                           <label>Date</label>
                        </div>
                        <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                           <div class="t-val">19-03-2020</div>   
                        </div> 
                     </div>                                  
                  </div>
                  <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                           <label>Requested By</label>
                        </div>
                        <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                           <div class="t-val">Abhisek</div>   
                        </div> 
                     </div>                                       
                  </div>
                  <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                           <label>Reason</label>
                        </div>
                        <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                           <div class="t-val">Lorem ipsum dolor sit amet is simply dummy text or print and web media</div>   
                        </div> 
                     </div>          
                  </div>                   
                  <div class="col-md-6 col-sm-12 mb-4 trip-info-list">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 mb-2 trip-info-list"> 
                           <label>Status</label>
                        </div>
                        <div class="col-md-9 col-sm-12 mb-4 trip-info-list"> 
                           <div class="t-val">Pending Approval</div>   
                        </div> 
                     </div>                  
                  </div>
         </div>
        </div>
      </section>
      <div class="d-flex justify-content-end btn-lg-cus mt-2">
        <button class="btn btn-primary radius-full btn-lg"><i class="fa fa-remove"></i> &nbsp; Reject</button>
        <button class="btn btn-success radius-full btn-lg ml-2">Approve &nbsp; <i class="fa fa-check"></i></button>
      </div>
      <table id="dtBasicExample" class="table table-striped dataTable mt-5" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Date
            </th>
            <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Status
            </th>
            <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Created By
            </th>
            <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Remarks
            </th>
          </tr>                
        </thead>
        <tbody>
        <tr role="row" class="odd">
            <td class="">10-03-2020</td>
            <td><span class="btn-outline-danger radius-full">Rejected</span></td>
            <td>Abhisek</td>
            <td>Lorem ipsum dolor sit amet is a dummy text</td>                
        </tr>
        <tr role="row" class="odd">
            <td class="">10-03-2020</td>
            <td><span class="btn-outline-danger radius-full">Rejected</span></td>
            <td>Abhisek</td>
            <td>Lorem ipsum dolor sit amet is a dummy text</td>                
        </tr>
       
          </tbody>
         
    </table>
      <section class="mb-4">
       
      </section>

     </div>
     
    </div>
 </div>
</div>