<div class="cover-shape">
    <div class="container">
        <div class="breadcrumb-cus">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="#">Trip List</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Trip Details</li>
                </ol>
              </nav>
        </div>
         
     <div class="container-bg">
     <div class="preview">
       
        <div class="d-md-flex justify-content-lg-between">
            <div class=""><h1><i></i>Trip Details</h1></div> 
            <div class="btn-group-apptrip btn-lg-cus">
               <button class="btn btn-primary radius-full btn-lg ml-2 mb-2">Edit</button>
               <button class="btn btn-outline-primary radius-full btn-lg ml-2 mb-2">Request Advance</button>
               <button class="btn btn-outline-primary radius-full btn-lg ml-2 mb-2">Submit Expense</button>
              </div>
        </div>
      
      <section class="mb-4">
        <div class="trip-info">
            <div class="section-title text-primary">               
                <div class="d-flex justify-content-between">
                 <div class="text-primary"><h4><i></i>Trip Information</h4></div>                               
                </div>                
             </div>
             <div class="row trip-info-details">
              <div class="col trip-info-list">
                <label>Travel Type</label>
                <div class="t-val">
                  <span *ngIf="tripListData.travelType === 'D'">Domestic Travel
                  </span>
                  <span *ngIf="tripListData.travelType === 'I'">International Travel
                  </span>
                </div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Way</label>
                <div class="t-val">
                  <span *ngIf="tripListData.tripType == 1">One Way</span>
                  <span *ngIf="tripListData.tripType == 2">Two Way</span>
                </div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>From Location</label>
                <div class="t-val"><span>{{tripListData.toLocation}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>To Location</label>
                <div class="t-val"><span>{{tripListData.fromLocation}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Start Date</label>
                <div class="t-val"><span>{{tripListData.startDate}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>End Date</label>
                <div class="t-val"><span>{{tripListData.endDate}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Purpose</label>
                <div class="t-val"><span>{{tripListData.purpose}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Trip For</label>
                <div class="t-val "><span>{{tripListData.tripFor}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Travel Details</label>
                <div class="t-val "><span>{{tripListData.tripDescription}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Trip Cost Center</label>
                <div class="t-val "><span>{{tripListData.tripCostCentre}}</span></div>                  
              </div>
              <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                <label>Event Code</label>
                <div class="t-val "><span>{{tripListData.eventCode}}</span></div>                  
              </div>
        </div>
      </div>
      </section>
      <section class="mb-4">
       <div class="traveller-details">
        <div class="section-title text-primary ng-star-inserted" >
            <div class="d-flex justify-content-between">
                <div class="text-primary">
                 <h4 ><i _ngcontent-lyb-c66=""></i>Travellers Details</h4>
                </div>
            </div>
        </div>
        
        <div class="row traveler-list" *ngFor="let allTravellerLists of tripListData.tripUserMapping; index as i ">
                  <div class="col-md-4 col-sm-12">
                    <div class="pt-3">{{allTravellerLists.passengerName}}</div>
                  </div>
                  <!-- <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.type">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                  </div> -->
                  <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.tripUserId">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Employee</div>
                  </div>
                  <!-- <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.retainerId">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Retainer</div>
                  </div> -->
                  <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-end">
                      <!-- <a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a>
                      <a style="cursor: pointer;" class="action-circle primary-bg" (click)="deleteTraveller(i)"><i class="fa fa-remove"></i></a>-->
                    </div> 
                  </div>                  
                </div>
          
       </div>
      </section>
      <section class="mb-4">
       <div class="flight-train">
        <div class="section-title text-primary">               
            <div class="d-flex justify-content-between">
             <div class="text-primary"><h4><i></i>Flight/Train</h4></div> 
             <div>
                <button class="btn btn-primary">Reprice</button>
               </div>                 
            </div>
           </div>            
          
           <div *ngFor="let selectedFlights of flightList">
            <div class="fsw_inner d-flex">
              <div class="fsw_inputBox searchCity inactiveWidget" >
                <div class="text-center">                                       
                  <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                  {{selectedFlights.flightTrainName}}
                  </span>   
                  <div><span class="lbl_input appendBottom5">{{selectedFlights.flightTrainNumber}}</span></div> 
                </div>
                  </div>                    
                    <div class="fsw_inputBox searchToCity inactiveWidget ">
                      <div class="text-center"> 
                      <!-- <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                        {{selectedFlights.depTime}}
                      </span>                           -->
                      <div><span class="lbl_input latoBold appendBottom5">{{selectedFlights.fromLocation}}</span></div> 
                      </div>
                    </div>
                      <div class="fsw_inputBox searchToCity inactiveWidget">    
                      <div class="text-center">                     
                        <div><hr class="space-right20">
                          <!-- <span class="lbl_input latoBold appendBottom10" *ngIf="selectedFlights.stops>0"> {{selectedFlights.stops}}</span>
                          <span class="lbl_input latoBold appendBottom10" *ngIf="selectedFlights.stops===0"> Non Stop</span> -->
                        </div>                          
                        </div>                      
                      </div>  
                      <div class="fsw_inputBox searchToCity inactiveWidget">
                        <div class="text-center"> 
                        <!-- <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                          {{selectedFlights.arrTime}}
                        </span>    -->
                        <div><span class="lbl_input latoBold appendBottom5">{{selectedFlights.toLocation}}</span></div>
                        </div> 
                      </div>
                      <div class="fsw_inputBox">
                        <span class="label rec-flag btn-success mb-2 btn ml-4 mr-4" *ngIf="selectedFlights.selectedIndex === 0">Recomended</span>
                      </div>
                      <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                        <div class="text-center"> 
                        <span class="fsw_inputField font20 font-weight-bold ">
                          <i class="fa fa-rupee icon-rup-cus"></i>{{selectedFlights.amount}} 
                        </span>                          
                        </div> 
                      </div>
            </div>
            <!-- <div class="form-group" *ngIf="selectedFlights.selectedIndex > 0">
              <textarea readonly class="form-control">{{selectedFlights.reason}}</textarea>
            </div> -->
        </div>
                   
       </div>
      </section>
      <section class="mb-4"> 
        <div class="accomodation">
            <div class="section-title text-primary">               
                <div class="d-flex justify-content-between">
                 <div class="text-primary"><h4><i></i>Accomodation</h4></div>    
                 <div>
                    <button class="btn btn-primary">Reprice</button>
                   </div>               
                </div>
               </div>
               <div *ngFor="let getHotelDatas of hotelList;">
                <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="hotelImageDiv">
                    <!-- <img class="hotelImage" src="{{getHotelDatas.hotelImage}}" alt="hotel"> -->
                  </div>
                  <div class="h-item-description">
                    <h3>{{getHotelDatas.hotelGuesthouseName}}</h3> 
                    <!-- <span class="h-location">2.5 KM from Mumbai</span> -->
                    <div class="h-features">
                           <!-- <ul>
                              <li *ngFor="let amenities of getHotelDatas.amenities">{{amenities}}</li>
                           </ul> -->
                      </div>
                  </div>
                  <div class="ex-col">
                    <!-- <div class="ratings">
                      {{getHotelDatas.guestRating}}
                    </div> -->
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa fa-rupee"></i>{{getHotelDatas.amount}}</span>
                  </div>
                </div>
                <!-- <div class="form-group" id="reasonMainHotel" *ngIf="getHotelDatas.selectedIndex > 0">
                  <textarea readonly class="form-control">{{getHotelDatas.reason}}</textarea>
                </div> -->
                </div>
               
        </div>
      </section>
      <section class="mb-4">
       <div class="car-pool">
        <div class="section-title text-primary">               
            <div class="d-flex justify-content-between">
             <div class="text-primary"><h4><i></i>Car pool</h4></div>                  
            </div>
           </div>
           <div class=" col-lg-12 col-sm-12">
             <div class="row">
               <div class="col"><label>Do you want to avail pool car service</label></div>
             </div>
             <div class="row">
              <div class="col">
                <div class="form-check form-check-inline mb-3">
                  <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> -->
                  <!-- <label class="form-check-label" for="inlineRadio1">Yes</label> -->
                </div>
                <div class="form-check form-check-inline mb-3">
                  <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> -->
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
              </div>
             </div>
            </div>
       </div>
      </section>
      <!-- <section class="mb-4">
        <div class="section-title text-primary">               
          <div class="d-flex justify-content-between">
           <div class="text-primary"><h4><i></i>Advance Request</h4></div>                  
          </div>
        </div>
        <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Amount
                </th>
                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                </th>
                <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Reason
                </th>
                <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Status
                </th>
              
              </tr>
                
            </thead>
            <tbody>
            <tr role="row" class="odd">
                <td class="">5000</td>
                <td>10-03-2020</td>
                <td>Lorem ipsum dolor sit amet is a dummy text</td>
                <td><span class="btn-outline-success radius-full">Approved</span></td>                
            </tr>
            <tr role="row" class="odd">
                <td class="">5000</td>
                <td>10-03-2020</td>
                <td>Lorem ipsum dolor sit amet is a dummy text</td>
                <td><span class="btn-outline-success radius-full">Approved</span></td>                
            </tr>
            <tr role="row" class="odd">
                <td class="">5000</td>
                <td>10-03-2020</td>
                <td>Lorem ipsum dolor sit amet is a dummy text</td>
                <td><span class="btn-outline-success radius-full">Approved</span></td>                
            </tr>
             
             
           
               
              </tbody>
             
          </table>
      </section> -->
      <!-- <section class="mb-4">
        <div class="section-title text-primary">               
          <div class="d-flex justify-content-between">
           <div class="text-primary"><h4><i></i>Trip History</h4></div>                  
          </div>
        </div>
        <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Date
                </th>
                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Status
                </th>
                <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Created By
                </th>
                <th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Remarks
                </th>
              </tr>                
            </thead>
            <tbody>
            <tr role="row" class="odd">
                <td class="">10-03-2020</td>
                <td><span class="btn-outline-danger radius-full">Rejected</span></td>
                <td>Abhisek</td>
                <td>Lorem ipsum dolor sit amet is a dummy text</td>                
            </tr>
            <tr role="row" class="odd">
                <td class="">10-03-2020</td>
                <td><span class="btn-outline-danger radius-full">Rejected</span></td>
                <td>Abhisek</td>
                <td>Lorem ipsum dolor sit amet is a dummy text</td>                
            </tr>
           
              </tbody>
             
        </table>
      </section> -->
     </div>
     <div class="row button-row">
        <div class="col-12">
          <div class="d-flex justify-content-end btn-lg-cus mt-2">
            <button class="btn btn-primary radius-full btn-lg"><i class="fa fa-remove"></i> &nbsp; Reject</button>
            <button class="btn btn-success radius-full btn-lg ml-2" (click)="approveTrip();">Approve &nbsp; <i class="fa fa-check"></i></button>
          </div>   
         <!-- <div class="float-right">
            <app-expense-import (dataExported)="dataExported($event)"></app-expense-import>
          </div>-->
        </div>
        <div class="bottom-space"></div>
     </div>
    </div>
 </div>
</div>