<!--<div class="google-btn">
  <div class="google-icon-wrapper">
    <img
      class="google-icon"
      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
    />
  </div>
  <p class="btn-text" (click)="signInWithGoogle()"><b>LOGIN WITH GOOGLE</b></p>
</div>-->
<div class="d-flex">
<div class="row">
  <div class="col-md-8">
    <div class="relative">
      <div class="cover-login" style="background-image: url(./assets/images/login-bg.jpg);">
       <div class="login-text">
         <h1>Welcome to our website</h1>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing</p>
       </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="google-btn" >
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p #loginRef class="btn-text"><b>LOGIN WITH GOOGLE</b></p>
    </div>

    <!-- <h2>Google Login</h2>
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto ">
          <button class="loginBtn loginBtn--google" #loginRef>
              Login with Google
            </button>
      </div>    
    </div> -->
  </div>
  
  
</div>
</div>