<div class="cover-shape">
 <div class="container">
<div class="row">    
    <div class="col-12 col-md-12">
      <mat-card>
        <mat-card-title>Create Trip</mat-card-title>
        <mat-card-content>
          <div class="my-5">
            <mat-horizontal-stepper >            
              <mat-step label="Trip Information">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Trip Information</h4></div>                  
                  </div>
                 </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Domestic Travel</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">International Travel</label>
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12 hightlight-gray mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                      <label class="form-check-label" for="inlineRadio3">One Way</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
                      <label class="form-check-label" for="inlineRadio4">Round Way</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">From Location</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">To Location</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Start Date</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">End Date</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Purpose</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Trip For</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Trip For</label>                    
                      <textarea class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Trip Cost Center</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Event Code</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                  </div>
                </div> 
                     
              </mat-step>
              <mat-step label="Traveller Details">
                <div class="section-title text-primary">               
                 <div class="d-flex justify-content-between">
                  <div class="text-primary"><h4><i></i>Travellers Details</h4></div> 
                  <div ><button class="btn btn-primary ">+ Add Traveller</button></div>
                 </div>
                </div>              
                 
                  
                  <div class="row traveler-list">
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">Abhisek</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                    </div>                  
                  </div>
                  <div class="row traveler-list">
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">Abhisek</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                    </div>                  
                  </div>
                  <div class="row traveler-list">
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">Abhisek</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                    </div>                  
                  </div>
               
                      
  
              </mat-step>
              <mat-step label="Flight/Train">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Flight/Train</h4></div>                  
                  </div>
                 </div>
                 <div class="row mb-5">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Flight Booking</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Train booking</label>
                    </div>
                    </div>
                  </div>
                <div class="fsw_inner search-panel">
                  <div class="fsw_inputBox searchCity inactiveWidget ">
                    <label for="fromCity">
                      <div><span class="lbl_input appendBottom5">Departture From Mumbai</span></div>                    
                      <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                        <option>Before 6AM</option>
                      </select>   
                     </label>
                      </div>
                      <span class="swipCircle"><span class="landingSprite swipIcon"></span></span>
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <label for="toCity"><div><span class="lbl_input latoBold  appendBottom5">Arrival at Kolkata</span></div>
                          <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                            <option>Before 6AM</option>
                          </select>  
                        </label>
                        </div>
                          <div class="fsw_inputBox searchToCity  inactiveWidget">                        
                           <div><span class="lbl_input appendBottom10">Stops</span></div>                          
                            <select class="fsw_inputField font20">
                              <option>NonStop</option>
                            </select>                        
                          </div>  
                          <div class="fsw_inputBox dates inactiveWidget">                                        
                             <select class="form-control">
                               <option>Airlines</option>
                             </select>                        
                           </div>                       
                           <div class="fsw_inputBox dates inactiveWidget"> 
                             <button class="btn btn-primary btn-lg">Search</button>
                           </div>
  
                </div>
                <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox">
                            <span class="label bg-success">Recomended</span>
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              6,305 
                             </span>                          
                             </div> 
                          </div>
                           
  
                </div>
                <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              6,305 
                             </span>                          
                             </div> 
                          </div>
                           
  
                </div>
                <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              6,305 
                             </span>                          
                             </div> 
                          </div>
                           
  
                </div>
                <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              6,305 
                             </span>                          
                             </div> 
                          </div>
                           
  
                </div>
                <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              6,305 
                             </span>                          
                             </div> 
                          </div>
                           
  
                </div>
              </mat-step>
              <mat-step label="Accomodation">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Accomodation</h4></div>                  
                  </div>
                 </div>
                 <div class="fsw_inner d-md-flex">
                  <div class="fsw_inputBox searchCity inactiveWidget ">
                    <label for="fromCity">
                      <div><span class="lbl_input appendBottom5">Star Ratings</span></div>                    
                      <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                        <option>3 Star</option>
                      </select>   
                     </label>
                      </div>
                      <span class="swipCircle"><span class="landingSprite swipIcon"></span></span>
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <label for="toCity"><div><span class="lbl_input latoBold  appendBottom5">User Rating</span></div>
                          <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                            <option>4.0 and above</option>
                          </select>  
                        </label>
                        </div>
                          <div class="fsw_inputBox searchToCity  inactiveWidget">                        
                           <div><span class="lbl_input appendBottom10">Meal</span></div>                          
                            <select class="fsw_inputField font20">
                              <option>Breakfast</option>
                            </select>                        
                          </div>                                                
                           <div class="fsw_inputBox dates inactiveWidget"> 
                             <button class="btn btn-primary btn-lg">Search</button>
                           </div>
  
                </div>
                <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa-rupee"></i>1,305</span>
                  </div>
                </div>
                <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa-rupee"></i>1,305</span>
                  </div>
                </div>
                <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa-rupee"></i>1,305</span>
                  </div>
                </div>
                <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa-rupee"></i>1,305</span>
                  </div>
                </div>
              </mat-step>
              <mat-step label="Car Pool">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>car pool</h4></div>                  
                  </div>
                 </div>
                 <div class=" col-lg-12 col-sm-12">
                   <div class="row">
                     <div class="col"><label>Do you want to avail pool car service</label></div>
                   </div>
                   <div class="row">
                    <div class="col">
                      <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div>
                      <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                   </div>
                  
                  
                  </div>
              </mat-step>
              <mat-step label="Preview">
                <div class="prev-section">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Trip Information</h4></div>                  
                  </div>
                 </div>
                 <div class="row trip-info-details">
                  <div class="col trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>Domestic Travel</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val "><span>Domestic Travel</span></div>                  
                  </div>
                 </div>
                </div>
                <div class="prev-section">
                 <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Traveller Details</h4></div>                  
                  </div>
                 </div>
                 <div class="row traveler-list">
                  <div class="col-md-4 col-sm-12">
                    <div class="pt-3">Abhisek</div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="text-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                  </div>                  
                </div>
                <div class="row traveler-list">
                  <div class="col-md-4 col-sm-12">
                    <div class="pt-3">Abhisek</div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="text-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                  </div>                  
                </div>
                </div>
                <div class="prev-section">
                  <div class="section-title text-primary">               
                    <div class="d-flex justify-content-between">
                     <div class="text-primary"><h4><i></i>Flight/Train</h4></div>                  
                    </div>
                  </div>
                  <div class="fsw_inner">
                    <div class="fsw_inputBox searchCity inactiveWidget">
                      <div class="text-center">                                       
                        <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                         Air India
                        </span>   
                        <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                      </div>
                        </div>                    
                          <div class="fsw_inputBox searchToCity inactiveWidget ">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>                          
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                            </div>
                          </div>
                            <div class="fsw_inputBox searchToCity inactiveWidget">    
                             <div class="text-center">                     
                              <div><hr class="space-right20">
                                <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                             </div>                      
                            </div>  
                            <div class="fsw_inputBox searchToCity inactiveWidget">
                              <div class="text-center"> 
                              <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                                10:30
                               </span>   
                               <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                               </div> 
                            </div>
                            <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                              <div class="text-center"> 
                              <span class="fsw_inputField font20 font-weight-bold ">
                                6,305 
                               </span>                          
                               </div> 
                            </div>                           
    
                  </div>
                </div>
                <div class="prev-section">
                  <div class="section-title text-primary">               
                    <div class="d-flex justify-content-between">
                     <div class="text-primary"><h4><i></i>Accomodation</h4></div>                  
                    </div>
                  </div>
                  <div class="fsw_inner justify-content-between">
                    <div class="prof-img-full">
                      <img src="assets/images/hotel.jpg" alt="hotel">
                    </div>
                    <div class="h-item-description">
                      <h3>Park Guest House</h3> 
                      <span class="h-location">2.5 KM from Mumbai</span>
                      <div class="h-features">
                        <ul class="ui-icon-bullet d-flex">
                        <li>Swiming Pool</li>
                        <li>Parking</li>
                        <li>Housekeeping</li>
                       </ul>
                      </div>
                    </div>
                    <div class="ex-col">
                      <div class="ratings">
                        4.5/5
                      </div>
                    </div>
                    <div class="ex-col mr-5">
                      <span class="price font30"><i class="fa-rupee"></i>1,305</span>
                    </div>
                  </div>
                </div>
                <div class="prev-section">
                    <div class="section-title text-primary">               
                      <div class="d-flex justify-content-between">
                       <div class="text-primary"><h4><i></i>Car Pool</h4></div>                  
                      </div>
                    </div>
                    <div class="row">
                     <div class="col"><label>Do you want to avail pool car service</label></div>
                    </div>
                    <span class="label label-val">Yes</span>
                </div>
  
                
  
              </mat-step>            
            </mat-horizontal-stepper>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row button-row">
            <div class="col-12">
              <div class="d-flex justify-content-between btn-lg-cus mt-2">
                <button class="btn btn-outline-primary radius-full btn-lg"><i class="fa fa-arrow-left"></i> &nbsp; Back</button>
                <button class="btn btn-primary radius-full btn-lg">Next &nbsp; <i class="fa fa-arrow-right"></i></button>
              </div>   
             <!-- <div class="float-right">
                <app-expense-import (dataExported)="dataExported($event)"></app-expense-import>
              </div>-->
            </div>
            <div class="bottom-space"></div>
          </div>
        </mat-card-actions>
       
      </mat-card>
    </div>
</div>
</div>
</div>