.traFont {
  color: #93a0a0;
}

.filterByHeader {
    margin-left: 8%;
    margin-bottom: 1%;
}

.departHeader{
    padding-left: 4%;
}

.timeHeader{
    padding-left: 5%;
}

.arrivalHeader{
    padding-left: 8%;
}

.priceHeader{
    padding-left: 3%;
}