<div class="cover-shape">
 <div class="container">
<div class="row">    
    <div class="col-12 col-md-12">
      <mat-card>
        <mat-card-title>Create Trip</mat-card-title>
        <mat-card-content>
          <div class="my-5">
            <mat-horizontal-stepper #stepper>            
              <mat-step label="Trip Information">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Trip Information</h4></div>                  
                  </div>
                 </div>
              <form [formGroup]="frmTravellerInformation" role="form">  
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input"  type="radio" [(ngModel)]="travelType" formControlName="travelType" id="inlineRadio1" value="d">
                      <label class="form-check-label" for="inlineRadio1">Domestic Travel</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" type="radio" [(ngModel)]="travelType" formControlName="travelType" id="inlineRadio2" value="I">
                      <label class="form-check-label" for="inlineRadio2">International Travel</label>
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12 hightlight-gray mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"  [(ngModel)]="wayType" formControlName="wayType" id="inlineRadio3" value="1">
                      <label class="form-check-label" for="inlineRadio3">One Way</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [(ngModel)]="wayType" formControlName="wayType" id="inlineRadio4" value="2">
                      <label class="form-check-label" for="inlineRadio4">Round Way</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">From Location</label>
                      <!-- <input type="text" class="form-control" [(ngModel)]="fromLocation"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="From Location">
                     -->
                      <select class="form-control"  [(ngModel)]="fromLocation" formControlName="fromLocation"> 
                         <option selected>Select</option>
                         <option *ngFor="let city of getCity" value="{{city.id}}">{{city.city_name}}</option>
                      </select>
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">To Location</label>
                      <!-- <input type="email" class="form-control" [(ngModel)]="toLocation" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="To Location"> -->
                      <select class="form-control" [(ngModel)]="toLocation" formControlName="toLocation"> 
                        <option selected>Select</option>
                        <option *ngFor="let city of getCity" value="{{city.id}}">{{city.city_name}}</option>
                     </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Start Date</label>
                      <input type="date" class="form-control" [(ngModel)]="startDate" formControlName="startDate" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">End Date</label>
                      <input type="date" class="form-control" [(ngModel)]="endDate" formControlName="endDate" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Purpose</label>
                      <input type="text" class="form-control" [(ngModel)]="purpose"  formControlName="purpose"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Purpose">
                      <!-- <div *ngIf="purpose.errors">
                        <div *ngIf="purpose.errors.required">The Field is required!</div>
                      </div> -->
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Trip For</label>
                      <input type="text" [(ngModel)]="tripFor" formControlName="tripFor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Trip For">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Travel Details</label>                    
                      <textarea class="form-control" [(ngModel)]="travelDetails" formControlName="travelDetails"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="fromlocation">Trip Cost Center</label>
                      <input type="text" class="form-control" [(ngModel)]="tripCostCenter" formControlName="tripCostCenter" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Trip Cost Center">
                    </div>
                  </div>
          
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label for="tolocation">Event Code</label>
                      <input type="text" class="form-control" [(ngModel)]="eventCode" formControlName="eventCode" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Event Code">
                    </div>
                  </div>
                </div> 
               </form> 
                <!-- <div>
                  <button mat-button matStepperNext (click)="goNext()">Next</button>
                </div>      -->
              </mat-step>
              <mat-step label="Traveller Details">
                <div class="section-title text-primary">               
                 <div class="d-flex justify-content-between">
                  <div class="text-primary"><h4><i></i>Travellers Details</h4></div> 
                  <div ><button class="btn btn-primary " (click)="openDialog()">+ Add Traveller</button></div>
                 </div>
                </div>              
                 
                  
                  <div class="" *ngFor="let allTravellerLists of allTravellerList; index as i ">
                   <div class="row traveler-list" id="travFirstDiv{{i}}"> 
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userFirstName}}</div>
                    </div>
                    <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.type && allTravellerLists.type === 'G'">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.userId && allTravellerLists.userId !== ''">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Employee</div>
                    </div>
                    <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.retainerId && allTravellerLists.retainerId !== ''">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Retainer</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a style="cursor: pointer;" class="action-circle outline-circle" (click)="travDetDivOpen(i,allTravellerLists.type)"><i class="fa fa-arrow-down"></i></a>
                        <a style="cursor: pointer;" class="action-circle primary-bg" (click)="deleteTraveller(i)"><i class="fa fa-remove"></i></a></div>
                    </div>  
                   </div>
                   
                   <!--- for guest div-->
                   <div class="row traveler-list" id="travDiv{{i}}" *ngIf="allTravellerLists.type && allTravellerLists.type === 'G'" style="background-color: #fff4f4;
                   border: 1px solid #d39898; display: none;"> 
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userFirstName}} {{allTravellerLists.userLastName}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.orgName}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userPhoneNumber}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">Guest</div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div style="cursor: pointer;" class="d-flex justify-content-end"><a class="action-circle outline-circle" (click)="travDetDivClose(i,allTravellerLists.type)"><i class="fa fa-arrow-up"></i></a>
                        <a style="cursor: pointer;" class="action-circle primary-bg" (click)="deleteTraveller(i)"><i class="fa fa-remove"></i></a></div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.costCenterNo}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.eventNo}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.gender}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userEmailId}}</div>
                    </div>  
                   </div>   
                   <!-- for employee & renter div -->
                   <div class="row traveler-list" id="travDivE{{i}}" *ngIf="allTravellerLists.userId || allTravellerLists.retainerId" style="background-color: #fff4f4;
                   border: 1px solid #d39898; display: none;"> 
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userFirstName}} {{allTravellerLists.userLastName}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userPhoneNumber}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userAddress}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3"><span *ngIf="allTravellerLists.userId">Employee</span> <span *ngIf="allTravellerLists.retainerId">Retainer</span></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div style="cursor: pointer;" class="d-flex justify-content-end"><a class="action-circle outline-circle" (click)="travDetDivClose(i,allTravellerLists.type)"><i class="fa fa-arrow-up"></i></a>
                        <a style="cursor: pointer;" class="action-circle primary-bg" (click)="deleteTraveller(i)"><i class="fa fa-remove"></i></a></div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.userEmailId}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3"><!--{{allTravellerLists.eventNo}}--></div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3">{{allTravellerLists.gender}}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="pt-3"><!--{{allTravellerLists.userEmailId}}--></div>
                    </div>  
                   </div>                
                  </div>
                  <!-- <div class="row traveler-list">
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">Abhisek</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                    </div>                  
                  </div> -->
                  <!-- <div class="row traveler-list">
                    <div class="col-md-4 col-sm-12">
                      <div class="pt-3">Abhisek</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a><a class="action-circle primary-bg"><i class="fa fa-remove"></i></a></div>
                    </div>                  
                  </div> -->
              </mat-step>
              <mat-step label="Flight/Train">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Flight/Train</h4></div>                  
                  </div>
                 </div>
                 <div class="row mb-5">
                  <div class=" col-lg-6 col-sm-12">
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" [(ngModel)]="tripType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="F">
                      <label class="form-check-label" for="inlineRadio1">Flight Booking</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                      <input class="form-check-input" [(ngModel)]="tripType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="T">
                      <label class="form-check-label" for="inlineRadio2">Train booking</label>
                    </div>
                    </div>
                  </div>
                <div class="fsw_inner d-md-flex search-panel">
                  <div class="fsw_inputBox searchCity inactiveWidget ">
                    <label for="fromCity">
                      <div><span class="lbl_input appendBottom5 traFont">Departture From {{tripFromLocation}}</span></div>                    
                      <select class="fsw_inputField font20 lineHeight36 latoBlack font20" [(ngModel)]="departtureTime">
                        <option value="" ng-selected="selected">Select</option>
                        <option  value="1">Before 6AM</option>
                        <option  value="1">Before 8AM</option>
                      </select>   
                     </label>
                      </div>
                      <span class="swipCircle"><span class="landingSprite swipIcon"></span></span>
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <label for="toCity"><div><span class="lbl_input latoBold  appendBottom5 traFont">Arrival at {{tripToLocation}}</span></div>
                          <select class="fsw_inputField font20 lineHeight36 latoBlack font20" [(ngModel)]="arrivalTime">
                            <option value="" ng-selected="selected">Select</option>
                            <option value="1">Before 10AM</option>
                            <option  value="1">Before 12AM</option>
                          </select>  
                        </label>
                        </div>
                          <div class="fsw_inputBox searchToCity  inactiveWidget">                        
                           <div><span class="lbl_input appendBottom10 traFont">Stops</span></div>                          
                            <select class="fsw_inputField font20" [(ngModel)]="travelStop">
                              <option value="" ng-selected="selected">Select</option>
                              <option value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                            </select>                        
                          </div>  
                          <div class="fsw_inputBox dates inactiveWidget">                                        
                             <select class="form-control" >
                               <option>Airlines</option>
                             </select>                        
                           </div>                       
                           <div class="fsw_inputBox dates inactiveWidget"> 
                             <button class="btn btn-primary btn-lg" (click)="getFlight();">Search</button>
                           </div>
                    </div>
                    <div class="row"> 
                      <div class="col-md-2 col-sm-12 filterByHeader">
                        <div class="pt-3">
                          Filter By
                        </div>
                      </div>
                      <!-- <div class="col-md-1"></div> -->
                      <div class="col-md-2 col-sm-12 departHeader">
                        <div class="pt-3">
                          Departture &nbsp;&nbsp;
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-12 timeHeader">
                        <div class="pt-3">
                          &nbsp; &nbsp;
                          Time
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-12 arrivalHeader">
                        <div class="pt-3">
                          &nbsp;&nbsp;
                          Arrival
                        </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2 col-sm-12 priceHeader">
                        <div class="pt-3">
                          Price
                        </div>
                      </div>
                    </div>



                    
                <!-- <div class="fsw_inner">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       Air India
                      </span>   
                      <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            10:30
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox">
                            <span class="label rec-flag btn-success mb-2 btn ml-4 mr-4">Recomended</span>
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                            <span class="fsw_inputField font20 font-weight-bold ">
                              <i class="fa fa-rupee icon-rup-cus"></i>6,305 
                             </span>                          
                             </div> 
                          </div>
                </div> -->

                <div class="fsw_inner" *ngFor="let flights of getFlightData; index as i" id="airDiv{{i}}" (click)="selectFlight(i,flights.airline,flights.flightNo,flights.depTime,flights.origin,flights.stops,flights.arrTime,flights.destination,flights.fare)">
                  <div class="fsw_inputBox searchCity inactiveWidget">
                    <div class="text-center">                                       
                      <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                       {{flights.airline}}
                      </span>   
                      <div><span class="lbl_input appendBottom5">{{flights.flightNo}}</span></div> 
                    </div>
                      </div>                    
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <div class="text-center"> 
                          <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                            {{flights.depTime}}
                           </span>                          
                           <div><span class="lbl_input latoBold appendBottom5"> {{flights.origin}}</span></div> 
                          </div>
                        </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget">    
                           <div class="text-center">                     
                            <div><hr class="space-right20">
                              <span class="lbl_input latoBold appendBottom10" *ngIf="flights.stops>0"> {{flights.stops}}</span>
                              <span class="lbl_input latoBold appendBottom10" *ngIf="flights.stops===0"> Non Stop</span>
                            </div>                          
                           </div>                      
                          </div>  
                          <div class="fsw_inputBox searchToCity inactiveWidget">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              {{flights.arrTime}} 
                             </span>   
                             <div><span class="lbl_input latoBold appendBottom5"> {{flights.destination}}</span></div>
                             </div> 
                          </div>
                          <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                            <div class="text-center"> 
                              <span class="fsw_inputField font20 font-weight-bold ">
                                6,305 
                                {{flights.fare}}
                              </span>
                              <mat-icon id="selectIco{{i}}" style="margin-left: 100%; color: red; display: none; ">check_circle_outline</mat-icon>
                            </div>
                            </div>
                      </div>
                
              </mat-step>
              <mat-step label="Accomodation">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Accomodation</h4></div>                  
                  </div>
                 </div>
                 <div class="fsw_inner search-panel d-md-flex">
                  <div class="fsw_inputBox searchCity inactiveWidget ">
                    <label for="fromCity">
                      <div><span class="lbl_input appendBottom5">Star Ratings</span></div>                    
                      <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                        <option>3 Star</option>
                      </select>   
                     </label>
                      </div>
                      <span class="swipCircle"><span class="landingSprite swipIcon"></span></span>
                        <div class="fsw_inputBox searchToCity inactiveWidget ">
                          <label for="toCity"><div><span class="lbl_input latoBold  appendBottom5">User Rating</span></div>
                          <select class="fsw_inputField font20 lineHeight36 latoBlack font20">
                            <option>4.0 and above</option>
                          </select>  
                        </label>
                        </div>
                          <div class="fsw_inputBox searchToCity  inactiveWidget">                        
                           <div><span class="lbl_input appendBottom10">Meal</span></div>                          
                            <select class="fsw_inputField font20">
                              <option>Breakfast</option>
                            </select>                        
                          </div>                                                
                           <div class="fsw_inputBox dates inactiveWidget"> 
                             <button class="btn btn-primary btn-lg" (click)="getHotel();">Search</button>
                           </div>
  
                </div>
                <div class="fsw_inner d-md-flex justify-content-between" *ngFor="let getHotelDatas of getHotelData" id="hotelDiv" (click)="selectHotel('myDiv');">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <span class="label rec-flag btn-success mb-2 btn ml-4 mr-4">Recomended</span>
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa fa-rupee"></i>1,305</span>
                  </div>
                </div>
                <!-- <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>1,305</span>
                  </div>
                </div> -->
                <!-- <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>1,305</span>
                  </div>
                </div> -->
                <!-- <div class="fsw_inner d-md-flex justify-content-between">
                  <div class="prof-img-full">
                    <img src="assets/images/hotel.jpg" alt="hotel">
                  </div>
                  <div class="h-item-description">
                    <h3>Park Guest House</h3> 
                    <span class="h-location">2.5 KM from Mumbai</span>
                    <div class="h-features">
                      <ul class="ui-icon-bullet d-flex">
                      <li>Swiming Pool</li>
                      <li>Parking</li>
                      <li>Housekeeping</li>
                     </ul>
                    </div>
                  </div>
                  <div class="ex-col">
                    <div class="ratings">
                      4.5/5
                    </div>
                  </div>
                  <div class="ex-col mr-5">
                    <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>1,305</span>
                  </div>
                </div> -->
              </mat-step>
              <mat-step label="Car Pool">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>car pool</h4></div>                  
                  </div>
                 </div>
                 <div class=" col-lg-12 col-sm-12">
                   <div class="row">
                     <div class="col"><label>Do you want to avail pool car service</label></div>
                   </div>
                   <div class="row">
                    <div class="col">
                      <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div>
                      <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                   </div>
                  
                  
                  </div>
              </mat-step>
              <mat-step label="Preview">
                <div class="prev-section">
                <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Trip Information</h4></div>                  
                  </div>
                 </div>
                 <div class="row trip-info-details">
                  <div class="col trip-info-list">
                    <label>Travel Type</label>
                    <div class="t-val"><span>{{travelType}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Way</label>
                    <div class="t-val"><span>{{wayType}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>From Location</label>
                    <div class="t-val"><span>{{fromLocation}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>To Location</label>
                    <div class="t-val"><span>{{toLocation}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Start Date</label>
                    <div class="t-val"><span>{{startDate}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>End Date</label>
                    <div class="t-val"><span>{{endDate}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Purpose</label>
                    <div class="t-val"><span>{{purpose}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Trip For</label>
                    <div class="t-val "><span>{{tripFor}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Travel Details</label>
                    <div class="t-val "><span>{{travelDetails}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Trip Cost Center</label>
                    <div class="t-val "><span>{{tripCostCenter}}</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Event Code</label>
                    <div class="t-val "><span>{{eventCode}}</span></div>                  
                  </div>
                 </div>
                </div>
                <div class="prev-section">
                 <div class="section-title text-primary">               
                  <div class="d-flex justify-content-between">
                   <div class="text-primary"><h4><i></i>Traveller Details</h4></div>                  
                  </div>
                 </div>
                 <div class="row traveler-list" *ngFor="let allTravellerLists of allTravellerList; index as i ">
                  <div class="col-md-4 col-sm-12">
                    <div class="pt-3">{{allTravellerLists.userFirstName}}</div>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.type && allTravellerLists.type === 'G'">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Guest</div>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.userId && allTravellerLists.type !== ''">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Employee</div>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="allTravellerLists.retainerId && allTravellerLists.retainerId !== ''">
                    <div class="text-md-center pt-3"><img class="icon-space" src="assets/images/icon/guest-employee.png">Retainer</div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-end"><a class="action-circle outline-circle"><i class="fa fa-arrow-down"></i></a>
                      <a style="cursor: pointer;" class="action-circle primary-bg" (click)="deleteTraveller(i)"><i class="fa fa-remove"></i></a></div>
                  </div>                  
                </div>
                </div>
                <div class="prev-section">
                  <div class="section-title text-primary">               
                    <div class="d-flex justify-content-between">
                     <div class="text-primary"><h4><i></i>Flight/Train</h4></div>                  
                    </div>
                  </div>
                  <div class="fsw_inner" *ngFor="let selectedFlights of selectedFlight">
                    <div class="fsw_inputBox searchCity inactiveWidget" >
                      <div class="text-center">                                       
                        <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                         Air India
                        </span>   
                        <div><span class="lbl_input appendBottom5">G8-286</span></div> 
                      </div>
                        </div>                    
                          <div class="fsw_inputBox searchToCity inactiveWidget ">
                            <div class="text-center"> 
                            <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                              10:30
                             </span>                          
                             <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div> 
                            </div>
                          </div>
                            <div class="fsw_inputBox searchToCity inactiveWidget">    
                             <div class="text-center">                     
                              <div><hr class="space-right20">
                                <span class="lbl_input latoBold appendBottom10">Non Stop</span></div>                          
                             </div>                      
                            </div>  
                            <div class="fsw_inputBox searchToCity inactiveWidget">
                              <div class="text-center"> 
                              <span class="fsw_inputField font-weight-bold lineHeight36 latoBlack">
                                10:30
                               </span>   
                               <div><span class="lbl_input latoBold appendBottom5">Mumbai</span></div>
                               </div> 
                            </div>
                            <div class="fsw_inputBox">
                              <span class="label rec-flag btn-success mb-2 btn ml-4 mr-4">Recomended</span>
                            </div>
                            <div class="fsw_inputBox searchToCity inactiveWidget border-0">
                              <div class="text-center"> 
                              <span class="fsw_inputField font20 font-weight-bold ">
                                <i class="fa fa-rupee icon-rup-cus"></i>6,305 
                               </span>                          
                               </div> 
                            </div>
                             
    
                  </div>
                </div>
                <div class="prev-section">
                  <div class="section-title text-primary">               
                    <div class="d-flex justify-content-between">
                     <div class="text-primary"><h4><i></i>Accomodation</h4></div>                  
                    </div>
                  </div>
                  <div class="fsw_inner justify-content-between" *ngFor="let selectedHotels of selectedHotel">
                    <div class="prof-img-full">
                      <img src="assets/images/hotel.jpg" alt="hotel">
                    </div>
                    <div class="h-item-description">
                      <h3>Park Guest House</h3> 
                      <span class="h-location">2.5 KM from Mumbai</span>
                      <div class="h-features">
                        <ul class="ui-icon-bullet d-flex">
                        <li>Swiming Pool</li>
                        <li>Parking</li>
                        <li>Housekeeping</li>
                       </ul>
                      </div>
                    </div>
                    <div class="ex-col">
                      <div class="ratings">
                        4.5/5
                      </div>
                    </div>
                    <div class="ex-col mr-5">
                      <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>1,305</span>
                    </div>
                  </div>
                </div>
                <div class="prev-section">
                    <div class="section-title text-primary">               
                      <div class="d-flex justify-content-between">
                       <div class="text-primary"><h4><i></i>Car Pool</h4></div>                  
                      </div>
                    </div>
                    <div class="row">
                     <div class="col"><label>Do you want to avail pool car service</label></div>
                    </div>
                    <span class="label label-val">Yes</span>
                </div>
  
                
  
              </mat-step>            
            </mat-horizontal-stepper>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row button-row">
            <div class="col-12">
              <div class="d-flex justify-content-between btn-lg-cus mt-2">
                <button *ngIf="stepStatus>1" (click)="goBack(stepper)" class="btn btn-outline-primary radius-full btn-lg"><i class="fa fa-arrow-left"></i> &nbsp; Back</button>
                <button class="btn btn-primary radius-full btn-lg" (click)="save(stepper)">Save & Continue &nbsp; <i class="fa fa-arrow-right"></i></button>
                <!-- <div>
                  <button mat-button (click)="goForward(stepper)">Next2</button>
                </div>  -->
              </div>   
             <!-- <div class="float-right">
                <app-expense-import (dataExported)="dataExported($event)"></app-expense-import>
              </div>-->
            </div>
            <div class="bottom-space"></div>
          </div>
        </mat-card-actions>
       
      </mat-card>
    </div>
</div>
</div>
</div>