<div class="cover-shape">
    <div class="container">
        <div class="breadcrumb-cus">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="#">Expense</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Expense Details</li>
                </ol>
              </nav>
        </div>
         
     <div class="container-bg">
     <div class="preview">       
        <div class="d-md-flex justify-content-lg-between">
         <div class=""><h1><i></i>View Expense Details</h1></div> 
         <div class="btn-group-apptrip btn-lg-cus">
            <button class="btn btn-outline-primary radius-full btn-lg ml-2">Request Expense</button>
            <button class="btn btn-primary radius-full btn-lg ml-2">Edit</button>               
         </div>
        </div>
        
      <section class="mb-4">
        <div class="trip-info">
            <div class="section-title text-primary">               
                <div class="d-flex justify-content-between">
                 <div class="text-primary "><h4><i class="fa fa-info-circle mr-2"></i>Trip Information</h4></div>                               
                </div>                
             </div>
          <div class="row trip-info-details">
                <div class="col trip-info-list">
                  <label>Travel Type</label>
                  <div class="t-val"><span>Domestic Travel</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Trip</label>
                  <div class="t-val"><span>Round Trip</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>From</label>
                  <div class="t-val"><span>Mumbai</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>To</label>
                  <div class="t-val"><span>Kolkata</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Start Date</label>
                  <div class="t-val"><span>25-02-2020</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>End Date</label>
                  <div class="t-val"><span>28-02-2020</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Purpose</label>
                  <div class="t-val"><span>Business Travel</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Trip Owner</label>
                  <div class="t-val "><span>Abhisek</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Trip Cost Center</label>
                    <div class="t-val "><span>1000</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Event Code</label>
                    <div class="t-val "><span>5455</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Status</label>
                    <div class="t-val "><span>Draft</span></div>                  
                  </div>
                  <div class="col-md-12  col-sm-12 mb-12 trip-info-list">
                    <label>Travel Details</label>
                    <div class="t-val "><span>Lorem ipsum dolor sit amet is simply dummy text sit amet is simply dummy text</span></div>                  
                  </div>
         </div>
        </div>
      </section>
      <section class="mb-4">
        <div class="traveller-details">
         <div class="section-title text-primary ng-star-inserted" >
             <div class="d-flex justify-content-between">
                 <div class="text-primary">
                  <h4 ><i class="fa fa-plane mr-2"></i>Flight Booking</h4>
                 </div>                     
             </div>
         </div>
        </div>        
        <div class="fsw_inner">
             
         <div class="row justify-content-md-between border-bottom p-3">
          <div class="col-md-6 col-lg-3 col-sm-12">
           <div class="exp-col">
            <label>Travel Type</label>
            <span class="text-primary font20">Flight</span>
           </div>        
          </div>
          <div class="col-md-6 col-lg-3 col-sm-12">
             <div class="exp-col">
              <label>Budgeted Amount</label>
              <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>8000</span>
             </div>
          </div>
          <div class="col-md-6 col-lg-3 col-sm-12">
           <div class="exp-col">
             <label>Actual Amount</label>
             <span class="price font30 text-primary"><i class="fa fa-rupee icon-rup-cus"></i>9000</span>
           </div>
          </div>
         </div>
         <div class="row justify-content-md-between border-bottom p-3">
          <div class="col-6">
           <h3>Attachment</h3>
          </div>
          <div class="col-6 pull-right">
           <button class="btn radius-full btn-gray pull-right">+Add file</button>
          </div>
         </div>
         <div class="row justify-content-md-between p-3">
          <div class="col-md-6 col-sm-12">
           <div class="accachment-view form-control justify-content-between d-flex">
            <span>Attachment1</span>
            <i class="fa fa-remove"></i>
         </div>
          </div> 
          <div class="col-md-6 col-sm-12">
             <div class="accachment-view form-control justify-content-between d-flex">
                 <span>Attachment1</span>
                 <i class="fa fa-remove"></i>
              </div> 
          </div>
         </div>
        </div>
        <div class="section-title text-primary ng-star-inserted" >
            <div class="d-flex justify-content-between">
                <div class="text-primary">
                 <h4 ><i class="fa fa-hotel mr-2"></i>Accomodation, Food, Laundry, Tips, Internet</h4>
                </div>                     
            </div>
        </div>
        <div class="fsw_inner">
            <div class="row justify-content-md-between border-bottom p-3">
             <div class="col-md-6 col-lg-3 col-sm-12">
              <div class="exp-col">
               <label>Accomodation Type</label>
               <span class="text-primary font20">Hotel</span>
              </div>        
             </div>
             <div class="col-md-6 col-lg-3 col-sm-12">
                <div class="exp-col">
                 <label>Budgeted Amount</label>
                 <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>8000</span>
                </div>
             </div>
             <div class="col-md-6 col-lg-3 col-sm-12">
              <div class="exp-col">
                <label>Actual Amount</label>
                <input type="text" class="form-control">
              </div>
             </div>
            </div>
            <div class="row justify-content-md-between border-bottom p-3">
             <div class="col-6">
              <h3>Attachment</h3>
             </div>
             <div class="col-6 pull-right">
              <button class="btn radius-full btn-gray pull-right">+Add file</button>
             </div>
            </div>
            <div class="row justify-content-md-between p-3">
             <div class="col-md-6 col-sm-12">
              <div class="accachment-view form-control justify-content-between d-flex">
               <span>Attachment1</span>
               <i class="fa fa-remove"></i>
            </div>
             </div> 
             <div class="col-md-6 col-sm-12">
                <div class="accachment-view form-control justify-content-between d-flex">
                    <span>Attachment1</span>
                    <i class="fa fa-remove"></i>
                 </div> 
             </div>
            </div>
            <div class="food">
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-apple mr-2"></i>Food</h4>
                    </div>                     
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                  <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Food Type
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                    </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Amount
                    </th>
                  </tr>                    
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td class="">Breakfast</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>100</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="">Breakfast</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>300</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="">Breakfast</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>300</td>
                  </tr>
                  </tbody>
                 <tfoot>
                    <td class="font20">Total</td>
                    <td></td>
                    <td class="font20"><i class="fa fa-rupee mr-2"></i>700</td>    
                 </tfoot>
            </table>
          </div>
          <div class="laundry">
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-history mr-2"></i>Laundry</h4>
                    </div>                     
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                  <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Type
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                    </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Amount
                    </th>
                  </tr>                    
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td class="">Shirt, Pant</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>100</td>
                  </tr>                   
                  </tbody>
                 <tfoot>
                    <td class="font20">Total</td>
                    <td></td>
                    <td class="font20"><i class="fa fa-rupee mr-2"></i>100</td>    
                 </tfoot>
            </table>
          </div>
          <div class="tips">
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-money mr-2"></i>Tips</h4>
                    </div>                     
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                  <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Type
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                    </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Amount
                    </th>
                  </tr>                    
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td class="">Service Charges</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>300</td>
                  </tr>                   
                  </tbody>
                 <tfoot>
                    <td class="font20">Total</td>
                    <td></td>
                    <td class="font20"><i class="fa fa-rupee mr-2"></i>300</td>    
                 </tfoot>
            </table>
          </div>
          <div class="internet">
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-internet-explorer mr-2"></i>Internet Charges</h4>
                    </div>                     
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                  <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Type
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                    </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Amount
                    </th>
                  </tr>                    
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td class="">Internet Charges</td>
                    <td>10-03-2020</td>
                    <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>500</td>
                  </tr>                   
                  </tbody>
                 <tfoot>
                    <td class="font20">Total</td>
                    <td></td>
                    <td class="font20"><i class="fa fa-rupee mr-2"></i>500</td>    
                 </tfoot>
            </table>
          </div>
          <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1">
              </tr>                    
            </thead>
            <tbody>
            <tr role="row" class="even white-bg">
                <td rowspan="1" colspan="1" class="">&nbsp;</td>
                <td rowspan="1" colspan="1"></td>
                <td align="riht" rowspan="1" colspan="1" class="font20 text-primary">Total Amount <span><i class="fa fa-rupee mr-2"></i>9400</span></td>
              </tr>                   
              </tbody>
              
          </table>          
        </div>
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-phone mr-2"></i>Telephone/Mobile</h4>
                    </div>                     
                </div>
            </div>       
        <div class="fsw_inner">                
        <div class="row justify-content-md-between border-bottom p-3">
            <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="exp-col">
            <label>Bill Type</label>
            <span class="text-primary font20">Mobile Bill</span>
            </div>        
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="exp-col">
                <label>Budgeted Amount</label>
                <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>800</span>
            </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="exp-col">
            <label>Actual Amount</label>
            <span class="price font30 text-primary"><i class="fa fa-rupee icon-rup-cus"></i>1200</span>
            </div>
            </div>
        </div>
        <div class="row justify-content-md-between border-bottom p-3">
            <div class="col-6">
            <h3>Attachment</h3>
            </div>
            <div class="col-6 pull-right">
            <button class="btn radius-full btn-gray pull-right">+Add file</button>
            </div>
        </div>
        <div class="row justify-content-md-between p-3">
            <div class="col-md-6 col-sm-12">
            <div class="accachment-view form-control justify-content-between d-flex">
            <span>Attachment1</span>
            <i class="fa fa-remove"></i>
        </div>
            </div> 
            <div class="col-md-6 col-sm-12">
            <div class="accachment-view form-control justify-content-between d-flex">
                <span>Attachment1</span>
                <i class="fa fa-remove"></i>
                </div> 
            </div>
        </div>
        </div>
            <div class="section-title text-primary ng-star-inserted" >
                <div class="d-flex justify-content-between">
                    <div class="text-primary">
                     <h4 ><i class="fa fa-car mr-2"></i>Car Pool</h4>
                    </div>                     
                </div>
            </div>
        <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Type
                </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Amount
                </th>
              </tr>                    
            </thead>
            <tbody>
            <tr role="row" class="odd">
                <td class="">Cab1</td>
                <td>10-03-2020</td>
                <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>300</td>
              </tr>  
              <tr role="row" class="odd">
                <td class="">Cab2</td>
                <td>14-03-2020</td>
                <td class="sorting_1"><i class="fa fa-rupee mr-2"></i>600</td>
              </tr>                  
              </tbody>
             <tfoot>
                <td class="font20">Total</td>
                <td></td>
                <td class="font20"><i class="fa fa-rupee mr-2"></i>900</td>    
             </tfoot>
        </table> 
        <div class="section-title text-primary border-bottom-0 ng-star-inserted" >
            <div class="d-flex justify-content-between">
                <div class="text-primary">
                    <h4 ><i class="fa fa-money mr-2"></i>Advance Request</h4>
                </div>                     
            </div>
        </div>
      
        <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row" >
                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Amount
                </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Date
                </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Reason
                </th>
              </tr>                    
            </thead>
            <tbody>
            <tr role="row" class="bg-white">               
                <td><i class="fa fa-rupee mr-2"></i>8000</td>
                <td>10-03-2020</td>
                <td class="">Lorem ipsum dolor sit amet is simply dummy text for print and web media.</td>
              </tr>                                 
              </tbody>
              
        </table>  
        <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
            <thead>
              <tr role="row">
                  <th class="th-sm sorting border-0" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">
                </th> 
              </tr>                    
            </thead>
            <tbody>
            <tr role="row" class="bg-white">
                <td colspan="10" class="font20">Total Expense</td>
                <td align="right" class="font20" colspan="3"><i class="fa fa-rupee mr-2"></i>20500</td>
              </tr>  
              <tr role="row" class="odd">
                <td colspan="10" class="font20">Advance</td>
                <td align="right" class="font20" colspan="3"><i class="fa fa-rupee mr-2"></i>8000</td>
              </tr>                  
              </tbody>
             <tfoot>
                <td colspan="10"  class="font20">Final Amount</td>
                <td colspan="3" class="font20" align="right"><i class="fa fa-rupee mr-2"></i>12500</td>    
             </tfoot>
        </table>     
        
    </section>      
      <div _ngcontent-cdu-c131="" class="d-flex justify-content-end btn-lg-cus mt-2">
        <button  class="btn btn-primary radius-full ml-2"><i class="fa fa-check icon"></i>&nbsp;&nbsp; Submit</button>
      </div>
      
      <section class="mb-4">
       
      </section>

     </div>
     
    </div>
 </div>
</div>