<div class="cover-shape">
<div class="container container-bg">
  <div class="row d-flex justify-content-between">
    <div class="col-md-4">
      <div class="page-title"><h1>Trip List</h1></div>
  </div>
  <div class="col-md-4">
    <div class="search-panel">
      <form action="">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>        
      </form>
    </div>
  </div>
</div>
  <div class="">
    <table id="dtBasicExample" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
      <thead>
        <tr role="row"><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 135.2px;">Trip Number
          </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 211.2px;">Traveller name
          </th><th class="th-sm sorting_desc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 115px;" aria-sort="descending">Start Date
          </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" style="width: 110px;">End Date
          </th><th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 94.2px;">From
          </th>
          <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
          : activate to sort column ascending" style="width: 89.2px;">To
          </th>
          <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 89.2px;">Status
          </th>
          <th align="center" class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1"   style="width: 89.2px; text-align: center;">Action
          </th>
        </tr>
          
      </thead>
      <tbody>
      <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        <tr role="row" class="odd">
          <td class="">#123</td>
          <td>Ganesh das</td>
          <td class="sorting_1">10-03-2020</td>
          <td>15-03-2020</td>
          <td>Kolkata</td>
          <td>Mumbai</td>
          <td>Completed</td>
          <td align="center"><i class="fa fa-eye"></i></td>
        </tr>
        </tbody>
       
    </table>
</div>
</div>
</div>
