<div class="cover-shape">
    <div class="container">
        <div class="breadcrumb-cus">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="#">Expense</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Expense Claim</li>
                </ol>
              </nav>
        </div>
         
     <div class="container-bg">
     <div class="preview">       
        <div class="d-md-flex justify-content-lg-between">
         <div class=""><h1><i></i>Expense Claim</h1></div> 
         <div class="btn-group-apptrip btn-lg-cus">
            <button class="btn btn-outline-primary radius-full btn-lg ml-2">Request Expense</button>
            <button class="btn btn-primary radius-full btn-lg ml-2">Edit</button>               
         </div>
        </div>
      
      <section class="mb-4">
        <div class="trip-info">
            <div class="section-title text-primary">               
                <div class="d-flex justify-content-between">
                 <div class="text-primary "><h4><i></i>Trip Information</h4></div>                               
                </div>                
             </div>
          <div class="row trip-info-details">
                <div class="col trip-info-list">
                  <label>Travel Type</label>
                  <div class="t-val"><span>Domestic Travel</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Trip</label>
                  <div class="t-val"><span>Round Trip</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>From</label>
                  <div class="t-val"><span>Mumbai</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>To</label>
                  <div class="t-val"><span>Kolkata</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Start Date</label>
                  <div class="t-val"><span>25-02-2020</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>End Date</label>
                  <div class="t-val"><span>28-02-2020</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Purpose</label>
                  <div class="t-val"><span>Business Travel</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                  <label>Trip Owner</label>
                  <div class="t-val "><span>Abhisek</span></div>                  
                </div>
                <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Trip Cost Center</label>
                    <div class="t-val "><span>1000</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Event Code</label>
                    <div class="t-val "><span>5455</span></div>                  
                  </div>
                  <div class="col-md-3  col-sm-12 mb-4 trip-info-list">
                    <label>Status</label>
                    <div class="t-val "><span>Draft</span></div>                  
                  </div>
                  <div class="col-md-12  col-sm-12 mb-12 trip-info-list">
                    <label>Travel Details</label>
                    <div class="t-val "><span>Lorem ipsum dolor sit amet is simply dummy text sit amet is simply dummy text</span></div>                  
                  </div>
         </div>
        </div>
      </section>
      <section class="mb-4">
       <div class="traveller-details">
        <div class="section-title text-primary ng-star-inserted" >
            <div class="d-flex justify-content-between">
                <div class="text-primary">
                 <h4 ><i _ngcontent-lyb-c66=""></i>Expense Item</h4>
                </div>
                <div>
                 <button class="btn btn-primary radius-full">+ Add Item</button>
                </div>
            </div>
        </div>
       </div>
       <div class="fsw_inner">
        <div class="row justify-content-md-between border-bottom p-3">
         <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="exp-col">
           <label>Accomodation Type</label>
           <span class="text-primary font20">Hotel</span>
          </div>        
         </div>
         <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="exp-col">
             <label>Budgeted Amount</label>
             <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>1,305</span>
            </div>
         </div>
         <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="exp-col">
            <label>Actual Amount</label>
            <input type="text" class="form-control">
          </div>
         </div>
        </div>
        <div class="row justify-content-md-between border-bottom p-3">
         <div class="col-6">
          <h3>Attachment</h3>
         </div>
         <div class="col-6 pull-right">
          <button class="btn radius-full btn-gray pull-right">+Add file</button>
         </div>
        </div>
        <div class="row justify-content-md-between p-3">
         <div class="col-md-6 col-sm-12">
          <div class="accachment-view form-control justify-content-between d-flex">
           <span>Attachment1</span>
           <i class="fa fa-remove"></i>
        </div>
         </div> 
         <div class="col-md-6 col-sm-12">
            <div class="accachment-view form-control justify-content-between d-flex">
                <span>Attachment1</span>
                <i class="fa fa-remove"></i>
             </div> 
         </div>
        </div>
       </div>
       <div class="fsw_inner">
        <div class="row justify-content-md-between border-bottom p-3">
         <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="exp-col">
           <label>Travel Type</label>
           <span class="text-primary font20">Flight</span>
          </div>        
         </div>
         <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="exp-col">
             <label>Budgeted Amount</label>
             <span class="price font30"><i class="fa fa-rupee icon-rup-cus"></i>8000</span>
            </div>
         </div>
         <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="exp-col">
            <label>Actual Amount</label>
            <input type="text" class="form-control">
          </div>
         </div>
        </div>
        <div class="row justify-content-md-between border-bottom p-3">
         <div class="col-6">
          <h3>Attachment</h3>
         </div>
         <div class="col-6 pull-right">
          <button class="btn radius-full btn-gray pull-right">+Add file</button>
         </div>
        </div>
        <div class="row justify-content-md-between p-3">
         <div class="col-md-6 col-sm-12">
          <div class="accachment-view form-control justify-content-between d-flex">
           <span>Attachment1</span>
           <i class="fa fa-remove"></i>
        </div>
         </div> 
         <div class="col-md-6 col-sm-12">
            <div class="accachment-view form-control justify-content-between d-flex">
                <span>Attachment1</span>
                <i class="fa fa-remove"></i>
             </div> 
         </div>
        </div>
       </div>
      </section>
      <div _ngcontent-cdu-c131="" class="d-flex justify-content-end btn-lg-cus mt-2">
        <button  class="btn btn-primary radius-full ml-2"><i class="fa fa-check icon"></i>&nbsp;&nbsp; Submit</button>
      </div>
      
      <section class="mb-4">
       
      </section>

     </div>
     
    </div>
 </div>
</div>